<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Alphashop</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Products" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Promotions" href="#">Promotions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Fidelity" href="#">Fidelity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Link" href="#">Orders</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle thumbnail dduser" data-bs-toggle="dropdown">
          <img class="img-circle" src="../../../assets/images/user.png" width="38" height="38">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Access</a></li>
          <li><a class="dropdown-item" href="#">Registration</a></li>
          <li><a class="dropdown-item" href="#">Disability</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
